In [67]:
import pandas as pd

In [47]:
# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/Buchanan_PronChar_counts.csv" 
CheminCSV2="./../data/dictionary/1757_Buchanan-J.csv" 
dfmapping = (pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8"))
dfmapping['graph']=dfmapping['graph'].fillna("")
dfDicoBuch = pd.read_csv(CheminCSV2, delimiter=";", encoding="utf8")

In [48]:
dfDicoBuch

       nbSyll        pron origin warning remarques POS  lineId  pageId
0           3     aʹbăcus    NaN     NaN       NaN  n.     2.0      19
1           2      ăbăʹft    NaN     NaN       NaN  p.     3.0      19
2           3  ăbaiʹſănce     F.     NaN       NaN  n.     4.0      19
3           3    ābăʹndon     F.     NaN       NaN  v.     5.0      19
4           4  ābăʹndŏned    NaN     NaN       NaN  a.     6.0      19
...       ...         ...    ...     ...       ...  ..     ...     ...
15795       4  zōŏʹgrăphy     G.     NaN       NaN  n.    19.0     241
15796       4  zōŏʹphytès     G.     NaN       NaN  n.    20.0     241
15797       4  zōŏʹphŏric     G.     NaN       NaN  n.    21.0     241
15798       4  zōŏʹtŏmiſt     G.     NaN       NaN  n.    22.0     241
15799       3     zŏʹtĭcā     G.     NaN       NaN  n.    23.0     241

[15800 rows x 8 columns]

In [49]:
dfmapping

   char    occ graph
0     a   3207     a
1     ʹ  12725
2     b   2288     b
3     ă   4533     a
4     c   5500     c
..  ...    ...   ...
68    á      1     a
69    I      1     l
70    х      2     x
71    р      1     p
72    ï      1     i

[73 rows x 3 columns]

In [60]:
def buch2Class(strBuch, dfMapping):
    BuchRes = ""
    
    listValBuch = strBuch
    for valBuch in listValBuch:
        dfRowFinded = dfMapping[dfMapping['char']==valBuch]
        if len(dfRowFinded==1):
            
            BuchRes+=dfRowFinded.iloc[0]['graph']
        else:
            BuchRes+='?'
    return BuchRes

In [62]:
%%time
dfDicoBuch['motVedette'] = dfDicoBuch.apply(lambda x: buch2Class(x['pron'], dfmapping),1)

Wall time: 1min 18s

In [63]:
dfDicoBuch

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus
1,2,ăbăʹft,NaN,NaN,NaN,p.,3.0,19,abaft
2,3,ăbaiʹſănce,F.,NaN,NaN,n.,4.0,19,abaisance
3,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon
4,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned
...,...,...,...,...,...,...,...,...,...
15795,4,zōŏʹgrăphy,G.,NaN,NaN,n.,19.0,241,zoography
15796,4,zōŏʹphytès,G.,NaN,NaN,n.,20.0,241,zoophytes
15797,4,zōŏʹphŏric,G.,NaN,NaN,n.,21.0,241,zoophoric
15798,4,zōŏʹtŏmiſt,G.,NaN,NaN,n.,22.0,241,zootomist
15799,3,zŏʹtĭcā,G.,NaN,NaN,n.,23.0,241,zotica

In [68]:
dfDicoBuch.to_csv("./../data/dataframe/dfDicoBuch.csv",index=False)